<script src="mbox_csv_analysis_files/htmlwidgets-1.5.3/htmlwidgets.js"></script>
<script src="mbox_csv_analysis_files/plotly-binding-4.9.3/plotly.js"></script>
<script src="mbox_csv_analysis_files/typedarray-0.1/typedarray.min.js"></script>
<script src="mbox_csv_analysis_files/jquery-1.11.3/jquery.min.js"></script>
<link href="mbox_csv_analysis_files/crosstalk-1.1.0.1/css/crosstalk.css" rel="stylesheet" />
<script src="mbox_csv_analysis_files/crosstalk-1.1.0.1/js/crosstalk.min.js"></script>
<link href="mbox_csv_analysis_files/plotly-htmlwidgets-css-1.57.1/plotly-htmlwidgets.css" rel="stylesheet" />
<script src="mbox_csv_analysis_files/plotly-main-1.57.1/plotly-latest.min.js"></script>

<div id="TOC">
<ul>
<li><a href="#about-this-dataset">About this dataset</a></li>
<li><a href="#privacy-concerns">Privacy concerns</a></li>
<li><a href="#about-this-document">About this document</a></li>
<li><a href="#basic-summary">Basic summary</a></li>
<li><a href="#structure-of-data">Structure of data</a><ul>
<li><a href="#list">list</a></li>
<li><a href="#message_id">messageId</a></li>
<li><a href="#subject">Subject</a></li>
<li><a href="#sent_at">Sent at</a></li>
<li><a href="#sender-name">Sender name</a></li>
<li><a href="#sender-address">Sender address</a></li>
</ul></li>
<li><a href="#using-the-dataset">Using the dataset</a><ul>
<li><a href="#reading-csv-file">Reading CSV file</a></li>
<li><a href="#using-time-series-xts">Using time series (xts)</a></li>
<li><a href="#plotting-number-of-monthly-posts">Plotting number of monthly posts</a></li>
<li><a href="#plotting-number-of-monthly-reporters">Plotting number of monthly reporters</a></li>
<li><a href="#plotting-activity-of-authors">Plotting activity of authors</a></li>
<li><a href="#posts-by-company">Posts by Company</a></li>
</ul></li>
</ul>
</div>

<div id="about-this-dataset" class="section level2">
<h2>About this dataset</h2>
<p>This dataset is a dump of all posts sent on all mailing lists hosted at the Eclipse Forge. Although this is public data (the mailing lists can be browsed on the <a href="https://accounts.eclipse.org/mailing-list">official mailman page</a>) all data has been anonymised to prevent any misuse. The privacy issues identified, along with the anonymisation process, have been covered in a [dedicated document]({{&lt; relref “datasets_privacy” &gt;}}).</p>
<p>These files are published under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-Attribution-Share Alike 4.0 (International) licence</a>.</p>
<p>The dataset is composed of two parts:</p>
<ul>
<li><strong>eclipse_mls_full.csv</strong> contains an extract of all the messages exchanged on the various mailing lists. The present document uses this CSV as input data.</li>
<li>The <strong>full list of mboxes</strong>, one file per mailing list. They can be downloaded directly from the <a href="mboxes/">mboxes subdirectory</a>.</li>
</ul>
<p>All of them are updated weekly at 2am on Sunday.</p>
</div>
<div id="privacy-concerns" class="section level2">
<h2>Privacy concerns</h2>
<p>We value privacy and intend to make everything we can to prevent misuse of the dataset. If you think we failed somewhere in the process, please <a href="https://www.crossminer.org/contact">let XXX us know</a> so we can do better.</p>
<p>All personally identifiable information has been scrambled using the <a href="https://github.com/borisbaldassari/data-anonymiser">data anonymiser</a> Perl module. As a result there is <strong>no clear email address</strong> in this dataset, <strong>nor any UUID or name</strong>. However all identical information produces the same encrypted string, which means that one can still identify identical data without knowing what it actually is. As an example email addresses are split (name, company) and encoded separately, which enables one to e.g. identify posters from the same company without knowing the company.</p>
<p>The anonymisation technique used basically encrypts information and then throws away the private key. Please refer to the <a href="https://github.com/borisbaldassari/data-anonymiser">documentation published on github</a> for more details.</p>
</div>
<div id="about-this-document" class="section level2">
<h2>About this document</h2>
<p>This document is a <a href="http://rmarkdown.rstudio.com">R Markdown document</a> and is composed of both text (like this one) and dynamically computed information (mostly in the sections below) executed on the data itself. This ensures that the documentation is always synchronised with the data, and serves as a test suite for the dataset.</p>
</div>
<div id="basic-summary" class="section level2">
<h2>Basic summary</h2>
<ul>
<li><strong>Generated date</strong>: Sun Feb 7 21:35:12 2021</li>
<li><strong>First date</strong>: 2001-11-05 19:14:58</li>
<li><strong>Last date</strong>: 2021-02-06 15:35:05</li>
<li><strong>Number of posts</strong>: 676383</li>
<li><strong>Number of attributes</strong>: 7</li>
</ul>
</div>
<div id="structure-of-data" class="section level1">
<h1>Structure of data</h1>
<p>This dataset is composed of a single big CSV file. Attributes are: <code>list, messageid, subject, sent_at, sender_name, sender_addr</code>.</p>
<p>Examples are provided at the end of this file to demonstrate how to use it in R.</p>
<div id="list" class="section level2">
<h2>list</h2>
<ul>
<li>Description: The mailing list and project of the post.</li>
<li>Type: String</li>
</ul>
Examples:
<table>
<caption>
(#tab:list.sample)Sample of list names
</caption>
<thead>
<tr>
<th style="text-align:left;">
Project list names
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
dtp-sqldevtools-dev
</td>
</tr>
<tr>
<td style="text-align:left;">
birt-charting-dev
</td>
</tr>
<tr>
<td style="text-align:left;">
platform-search-dev
</td>
</tr>
<tr>
<td style="text-align:left;">
iot-pmc
</td>
</tr>
<tr>
<td style="text-align:left;">
oneofour-dev
</td>
</tr>
</tbody>
</table>
</div>
<div id="message_id" class="section level2">
<h2>messageId</h2>
<ul>
<li>Description: A unique identifier for the post.</li>
<li>Type: String (Scrambled Base64)</li>
</ul>
Examples:
<table>
<caption>
(#tab:messageid.sample)Sample of message IDs
</caption>
<thead>
<tr>
<th style="text-align:left;">
Message ID
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
<a href="mailto:DUvAYLFPILlVRvK8@M3ey1je9TZVHcRSk">DUvAYLFPILlVRvK8@M3ey1je9TZVHcRSk</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:jtPP4TGXqdU4QgxA@FEyh4USkFpVuSfb9">jtPP4TGXqdU4QgxA@FEyh4USkFpVuSfb9</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:K1i6TawZwzUtmPey@CRddTcqAJPy1d2xd">K1i6TawZwzUtmPey@CRddTcqAJPy1d2xd</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:jr+PiggwYqsxJk90@Q5fnXcfmtwrVLyoR">jr+PiggwYqsxJk90@Q5fnXcfmtwrVLyoR</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:dwU+DgiU+eZofUfb@A9wgDekZVa6tZfgJ">dwU+DgiU+eZofUfb@A9wgDekZVa6tZfgJ</a>
</td>
</tr>
</tbody>
</table>
</div>
<div id="subject" class="section level2">
<h2>Subject</h2>
<ul>
<li>Description: The subject of the post as sent on the mailing list.</li>
<li>Type: String</li>
</ul>
Examples:
<table>
<caption>
(#tab:subject.sample)Sample of email subjects
</caption>
<thead>
<tr>
<th style="text-align:left;">
Subject
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Re: [tycho-user] Install plugin could not write metadata error.
</td>
</tr>
<tr>
<td style="text-align:left;">
[jakarta.ee-community] Java LTS vs Future compatibility
</td>
</tr>
<tr>
<td style="text-align:left;">
[platform-releng-dev] [eclipse-build]Build N20090316-2000 (Timestamp: 200903162000):Automated JUnit testing complete. Test failures/errors occurred.
</td>
</tr>
<tr>
<td style="text-align:left;">
Re: [m2e-dev] m2e-wtp / pomproperties conflict
</td>
</tr>
<tr>
<td style="text-align:left;">
[birt-dev] Checkin: Fix Bugzilla #128566: Build Web Viewer compilation failed in daily build 20060220
</td>
</tr>
</tbody>
</table>
</div>
<div id="sent_at" class="section level2">
<h2>Sent at</h2>
<ul>
<li>Description: The time of sending for the post.</li>
<li>Type: Date (ISO 8601)</li>
</ul>
<p>Main characteristics:</p>
<ul>
<li><strong>First date</strong>: 2001-11-05 19:14:58</li>
<li><strong>Last date</strong>: 2021-02-06 15:35:05</li>
</ul>
Examples:
<table>
<caption>
(#tab:sentat.sample)Sample of sent dates
</caption>
<thead>
<tr>
<th style="text-align:left;">
Sent date
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
2014-05-22 04:03:56
</td>
</tr>
<tr>
<td style="text-align:left;">
2013-04-07 08:00:14
</td>
</tr>
<tr>
<td style="text-align:left;">
2009-05-14 06:40:15
</td>
</tr>
<tr>
<td style="text-align:left;">
2013-03-24 13:28:03
</td>
</tr>
<tr>
<td style="text-align:left;">
2010-11-23 18:06:01
</td>
</tr>
</tbody>
</table>
</div>
<div id="sender-name" class="section level2">
<h2>Sender name</h2>
<ul>
<li>Description: The name of the sender of the post.</li>
<li>Type: String (Scrambled Base64)</li>
<li>Number of unique entries: 24120</li>
</ul>
Examples:
<table>
<caption>
(#tab:sendername.sample)Sample of sender names
</caption>
<thead>
<tr>
<th style="text-align:left;">
Sender names
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
TU5T7ZV88vyO7uLq
</td>
</tr>
<tr>
<td style="text-align:left;">
oDfF7b2a5J5km79c
</td>
</tr>
<tr>
<td style="text-align:left;">
AN0c++VfvrhiOLc+
</td>
</tr>
<tr>
<td style="text-align:left;">
ZVMlZM0fCELwRzDB
</td>
</tr>
<tr>
<td style="text-align:left;">
GGZ3+b+v5QirJoD8
</td>
</tr>
</tbody>
</table>
<p>Note: A single name repeated several times will always result in the same scrambled ID. This way it is possible to identify same-author posts without actually knowing the name of the sender.</p>
</div>
<div id="sender-address" class="section level2">
<h2>Sender address</h2>
<ul>
<li>Description: The email address of the sender, encoded.</li>
<li>Type: String (Scrambled Base64)</li>
<li>Number of unique entries: 24474</li>
</ul>
Examples:
<table>
<caption>
(#tab:senderaddr.sample)Sample of sender addresses
</caption>
<thead>
<tr>
<th style="text-align:left;">
Sender addresses
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
<a href="mailto:ZREFZCKMadxdtBKn@W1nN8AwAEVtafMpA">ZREFZCKMadxdtBKn@W1nN8AwAEVtafMpA</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:kDshJKq5xZZL27Pr@chCGqpnXMYAEJlyc">kDshJKq5xZZL27Pr@chCGqpnXMYAEJlyc</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:O9AyufnKG8aerT8Q@UR6pxDeRuFvVfSQJ">O9AyufnKG8aerT8Q@UR6pxDeRuFvVfSQJ</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:FJAwtWMPMYSjyJg3@LvaWf22tawg2RAtY">FJAwtWMPMYSjyJg3@LvaWf22tawg2RAtY</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:dYeGcUiNQyUUnJGW@RO/dtUxNFIJZUNdt">dYeGcUiNQyUUnJGW@RO/dtUxNFIJZUNdt</a>
</td>
</tr>
</tbody>
</table>
<p>Note: A single email address repeated several times will always result in the same scrambled email address. Furthermore both parts of the email (name, company) are individually scrambled, which means that one can identify email addresses from the same company without actually knowing the real company or name of the sender.</p>
</div>
</div>
<div id="using-the-dataset" class="section level1">
<h1>Using the dataset</h1>
<div id="reading-csv-file" class="section level2">
<h2>Reading CSV file</h2>
<p>Reading file from eclipse_mls_full.csv.</p>
<pre class="r"><code>project.csv &lt;- read.csv(file.in, header=T)</code></pre>
<p>We add a column for the Company, which we extract from the email address (i.e. the domain name):</p>
<pre class="r"><code>project.csv$Company &lt;- substr(x = project.csv$sender_addr, 18, 33)</code></pre>
<p>Number of columns in this dataset:</p>
<pre class="r"><code>ncol(project.csv)</code></pre>
<pre><code>## [1] 7</code></pre>
<p>Number of entries in this dataset:</p>
<pre class="r"><code>nrow(project.csv)</code></pre>
<pre><code>## [1] 676383</code></pre>
<p>Names of columns:</p>
<pre class="r"><code>names(project.csv)</code></pre>
<pre><code>## [1] &quot;list&quot;        &quot;messageid&quot;   &quot;subject&quot;     &quot;sent_at&quot;     &quot;sender_name&quot;
## [6] &quot;sender_addr&quot; &quot;Company&quot;</code></pre>
</div>
<div id="using-time-series-xts" class="section level2">
<h2>Using time series (xts)</h2>
<p>The dataset needs to be converted to a <code>xts</code> object. We can use the <code>sent_at</code> attribute as a time index.</p>
<pre class="r"><code>require(xts)
project.xts &lt;- xts(x = project.csv, order.by = parse_iso_8601(project.csv$sent_at))</code></pre>
</div>
<div id="plotting-number-of-monthly-posts" class="section level2">
<h2>Plotting number of monthly posts</h2>
<p>When considering the timeline of the dataset, it can be misleading when there several submissions on a short period of time, compared to sparse time ranges. We’ll use the <code>apply.monthly</code> function from <code>xts</code> to normalise the total number of monthly submissions.</p>
<pre class="r"><code>project.monthly &lt;- apply.monthly(x=project.xts$sent_at, FUN=nrow)

autoplot(project.monthly, geom=&#39;line&#39;) + 
  theme_minimal() + ylab(&quot;Number of posts&quot;) + xlab(&quot;Time&quot;) + ggtitle(&quot;Number of monthly posts&quot;)</code></pre>
<p><img src="mbox_csv_analysis_files/figure-html/examples.xts.plot-1.png" width="672" /></p>
</div>
<div id="plotting-number-of-monthly-reporters" class="section level2">
<h2>Plotting number of monthly reporters</h2>
<p>One author can post several emails on the mailing list. Let’s plot the monthly number of distinct authors on the mailing list. For this we need to count the number of unique occurrences of the email address (attribute <code>sender_attr</code>).</p>
<pre class="r"><code>count_unique &lt;- function(x) { length(unique(x)) }
project.monthly &lt;- apply.monthly(x=project.xts$sender_addr, FUN=count_unique)

autoplot(project.monthly, geom=&#39;line&#39;) + 
  theme_minimal() + ylab(&quot;Number of authors&quot;) + xlab(&quot;Time&quot;) + ggtitle(&quot;Number of monthly distinct authors&quot;)</code></pre>
<p><img src="mbox_csv_analysis_files/figure-html/xts.monthly.reporters-1.png" width="672" /></p>
</div>
<div id="plotting-activity-of-authors" class="section level2">
<h2>Plotting activity of authors</h2>
<p>We want to plot the number of emails sent by each author regardless of the mailing list they were sent on. We display only the 10 top posters:</p>
<table>
<caption>
(#tab:reporters.sample)Top 10 senders on mailing lists
</caption>
<thead>
<tr>
<th style="text-align:left;">
Sender address
</th>
<th style="text-align:right;">
Number of posts
</th>
<th style="text-align:left;">
Company
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
<a href="mailto:VHhV5lx01jAWyAeI@W1nN8AwAEVtafMpA">VHhV5lx01jAWyAeI@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
37998
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:bRO6C3dLsSwEqKIR@W1nN8AwAEVtafMpA">bRO6C3dLsSwEqKIR@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
19739
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:ZQcbyzPlXigufV0c@W1nN8AwAEVtafMpA">ZQcbyzPlXigufV0c@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
15720
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:QV3kc9zbTtjEc/4h@W1nN8AwAEVtafMpA">QV3kc9zbTtjEc/4h@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
9696
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:bfZnzraFE3tzUecD@W1nN8AwAEVtafMpA">bfZnzraFE3tzUecD@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
8828
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:YbTJiaC/2iJfj5S+@Eg1Eg8ah5Rcf8CJw">YbTJiaC/2iJfj5S+@Eg1Eg8ah5Rcf8CJw</a>
</td>
<td style="text-align:right;">
8428
</td>
<td style="text-align:left;">
Eg1Eg8ah5Rcf8CJw
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:Tr6NBL4ey/ypIq/L@W1nN8AwAEVtafMpA">Tr6NBL4ey/ypIq/L@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
6969
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:jhlkGo7m10rWJX3r@W1nN8AwAEVtafMpA">jhlkGo7m10rWJX3r@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
5327
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:VUAPm0goc1TOKubf@W1nN8AwAEVtafMpA">VUAPm0goc1TOKubf@W1nN8AwAEVtafMpA</a>
</td>
<td style="text-align:right;">
5012
</td>
<td style="text-align:left;">
W1nN8AwAEVtafMpA
</td>
</tr>
<tr>
<td style="text-align:left;">
<a href="mailto:RPKB7RxAMI1rlIZh@b0LdzEWMDBXUKPTF">RPKB7RxAMI1rlIZh@b0LdzEWMDBXUKPTF</a>
</td>
<td style="text-align:right;">
4945
</td>
<td style="text-align:left;">
b0LdzEWMDBXUKPTF
</td>
</tr>
</tbody>
</table>
<p>Now plot these 50 top posters with ggplot and use the company (i.e. second part of the email address) for the colour:</p>
<pre class="r"><code>authors.subset &lt;- head( authors, n = n)

authors.subset.df &lt;- as.data.frame(authors.subset)
names(authors.subset.df) &lt;- c(&#39;ID&#39;, &#39;Posts&#39;)
authors.subset.df$Author &lt;- substr(x = authors.subset.df$ID, 1, 16)
authors.subset.df$Company &lt;- substr(x = authors.subset.df$ID, 18, 33)

p &lt;- ggplot(data=authors.subset.df, aes(x=reorder(Author, -Posts), y = Posts, fill = Company)) + 
  geom_bar(stat=&quot;identity&quot;) + 
  theme_minimal() + ylab(&quot;Number of posts&quot;) + xlab(&#39;Posters&#39;) + 
  ggtitle(paste(n, &quot; overall top posters on Eclipse mailing lists&quot;, sep=&quot;&quot;)) +
  theme( axis.text.x = element_text(angle=60, size = 7, hjust = 1))
g &lt;- ggplotly(p)
g</code></pre>
<div id="htmlwidget-edaf2201ab4311af3096" style="width:672px;height:480px;" class="plotly html-widget"></div>
<script type="application/json" data-for="htmlwidget-edaf2201ab4311af3096">{"x":{"data":[{"orientation":"v","width":0.9,"base":8828,"x":[7],"y":[3044],"text":"reorder(Author, -Posts): bfZnzraFE3tzUecD<br />Posts:  3044<br />Company: Axg6u0jPYbtq1P19","type":"bar","marker":{"autocolorscale":false,"color":"rgba(248,118,109,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"Axg6u0jPYbtq1P19","legendgroup":"Axg6u0jPYbtq1P19","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.899999999999999,0.899999999999999],"base":[0,0],"x":[10,24],"y":[4945,3121],"text":["reorder(Author, -Posts): RPKB7RxAMI1rlIZh<br />Posts:  4945<br />Company: b0LdzEWMDBXUKPTF","reorder(Author, -Posts): G6z9E4C5bISUpgwE<br />Posts:  3121<br />Company: b0LdzEWMDBXUKPTF"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(237,129,62,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"b0LdzEWMDBXUKPTF","legendgroup":"b0LdzEWMDBXUKPTF","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[36],"y":[2275],"text":"reorder(Author, -Posts): KNqP1WQTsWnmUBAa<br />Posts:  2275<br />Company: B40Lw2ljD9IvdhLU","type":"bar","marker":{"autocolorscale":false,"color":"rgba(222,140,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"B40Lw2ljD9IvdhLU","legendgroup":"B40Lw2ljD9IvdhLU","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[35],"y":[2315],"text":"reorder(Author, -Posts): gisp6m52krf5oNI4<br />Posts:  2315<br />Company: bo2E/w7eAQh8cja9","type":"bar","marker":{"autocolorscale":false,"color":"rgba(205,150,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"bo2E/w7eAQh8cja9","legendgroup":"bo2E/w7eAQh8cja9","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.899999999999999,0.899999999999999,0.900000000000002,0.900000000000006,0.900000000000006],"base":[0,0,0,0,0],"x":[26,29,32,33,44],"y":[2679,2594,2376,2366,1928],"text":["reorder(Author, -Posts): QuOGZD1VN1XogskL<br />Posts:  2679<br />Company: CbnZqLa+BiRPNliU","reorder(Author, -Posts): M7DqQxdyjR5GFQM5<br />Posts:  2594<br />Company: CbnZqLa+BiRPNliU","reorder(Author, -Posts): D+a9r7wvIl2cmaxD<br />Posts:  2376<br />Company: CbnZqLa+BiRPNliU","reorder(Author, -Posts): L207x5rq88VPvLDU<br />Posts:  2366<br />Company: CbnZqLa+BiRPNliU","reorder(Author, -Posts): juv6FdOijWBafyf9<br />Posts:  1928<br />Company: CbnZqLa+BiRPNliU"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(183,159,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"CbnZqLa+BiRPNliU","legendgroup":"CbnZqLa+BiRPNliU","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[14],"y":[4205],"text":"reorder(Author, -Posts): nYijJWl3CSFa7w9T<br />Posts:  4205<br />Company: chCGqpnXMYAEJlyc","type":"bar","marker":{"autocolorscale":false,"color":"rgba(157,167,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"chCGqpnXMYAEJlyc","legendgroup":"chCGqpnXMYAEJlyc","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[16],"y":[4010],"text":"reorder(Author, -Posts): NU3Q1+xl8OCoA9Lv<br />Posts:  4010<br />Company: d7Wbcrk9dYiFiN5n","type":"bar","marker":{"autocolorscale":false,"color":"rgba(124,174,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"d7Wbcrk9dYiFiN5n","legendgroup":"d7Wbcrk9dYiFiN5n","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[48],"y":[1860],"text":"reorder(Author, -Posts): A/vMbw+jBy9RS/MD<br />Posts:  1860<br />Company: dzMDlwjRxUt69dBL","type":"bar","marker":{"autocolorscale":false,"color":"rgba(73,181,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"dzMDlwjRxUt69dBL","legendgroup":"dzMDlwjRxUt69dBL","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[27],"y":[2637],"text":"reorder(Author, -Posts): V6X5rBhUG2F8j0op<br />Posts:  2637<br />Company: e5DEwU9+TSqet06F","type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,186,56,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"e5DEwU9+TSqet06F","legendgroup":"e5DEwU9+TSqet06F","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.899999999999999,0.900000000000006],"base":[0,0,0],"x":[5,28,47],"y":[8428,2611,1902],"text":["reorder(Author, -Posts): YbTJiaC/2iJfj5S+<br />Posts:  8428<br />Company: Eg1Eg8ah5Rcf8CJw","reorder(Author, -Posts): WkndvvY/mAc6qTTX<br />Posts:  2611<br />Company: Eg1Eg8ah5Rcf8CJw","reorder(Author, -Posts): DGE0CuiI2Gq5tW5g<br />Posts:  1902<br />Company: Eg1Eg8ah5Rcf8CJw"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,190,103,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"Eg1Eg8ah5Rcf8CJw","legendgroup":"Eg1Eg8ah5Rcf8CJw","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[23],"y":[3154],"text":"reorder(Author, -Posts): O4ei7wwjUH/pwa1h<br />Posts:  3154<br />Company: FEyh4USkFpVuSfb9","type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,192,139,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"FEyh4USkFpVuSfb9","legendgroup":"FEyh4USkFpVuSfb9","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.900000000000006,0.900000000000006],"base":[0,0],"x":[46,49],"y":[1908,1782],"text":["reorder(Author, -Posts): VCm5fmzZ2SKG+Eb3<br />Posts:  1908<br />Company: gxzKNAGnsmZW2gOF","reorder(Author, -Posts): RVmXCvnA7Yt+03CI<br />Posts:  1782<br />Company: gxzKNAGnsmZW2gOF"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,193,169,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"gxzKNAGnsmZW2gOF","legendgroup":"gxzKNAGnsmZW2gOF","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[45],"y":[1919],"text":"reorder(Author, -Posts): GV9WitITYucEQ48E<br />Posts:  1919<br />Company: hioP4rJCfX3A4b9d","type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,191,196,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"hioP4rJCfX3A4b9d","legendgroup":"hioP4rJCfX3A4b9d","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[39],"y":[2154],"text":"reorder(Author, -Posts): JVr/n+umzrRYmK3K<br />Posts:  2154<br />Company: HkiMsBPLPATLJ8iT","type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,187,220,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"HkiMsBPLPATLJ8iT","legendgroup":"HkiMsBPLPATLJ8iT","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[19],"y":[3590],"text":"reorder(Author, -Posts): HLXoVazcIY5gY1eR<br />Posts:  3590<br />Company: hRweSXL4/5uMoD/M","type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,180,240,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"hRweSXL4/5uMoD/M","legendgroup":"hRweSXL4/5uMoD/M","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[18],"y":[3801],"text":"reorder(Author, -Posts): etXASDWy4TAQCkzr<br />Posts:  3801<br />Company: Ifk1Mk0lZqwkLQNP","type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,169,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"Ifk1Mk0lZqwkLQNP","legendgroup":"Ifk1Mk0lZqwkLQNP","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[40],"y":[2154],"text":"reorder(Author, -Posts): KtRfmZYfeyUEpu69<br />Posts:  2154<br />Company: kUz1GuFICsLhDJfl","type":"bar","marker":{"autocolorscale":false,"color":"rgba(97,156,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"kUz1GuFICsLhDJfl","legendgroup":"kUz1GuFICsLhDJfl","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[41],"y":[2119],"text":"reorder(Author, -Posts): FJAwtWMPMYSjyJg3<br />Posts:  2119<br />Company: LvaWf22tawg2RAtY","type":"bar","marker":{"autocolorscale":false,"color":"rgba(159,140,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"LvaWf22tawg2RAtY","legendgroup":"LvaWf22tawg2RAtY","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[11],"y":[4641],"text":"reorder(Author, -Posts): mKK/ds3PJsHSmj2P<br />Posts:  4641<br />Company: NgMgBBku/lsO9p0/","type":"bar","marker":{"autocolorscale":false,"color":"rgba(199,124,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"NgMgBBku/lsO9p0/","legendgroup":"NgMgBBku/lsO9p0/","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[38],"y":[2196],"text":"reorder(Author, -Posts): mwUO842qKVw2UjCk<br />Posts:  2196<br />Company: nykMKcEeHF3jVOz8","type":"bar","marker":{"autocolorscale":false,"color":"rgba(227,110,246,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"nykMKcEeHF3jVOz8","legendgroup":"nykMKcEeHF3jVOz8","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[42],"y":[2108],"text":"reorder(Author, -Posts): WfVD25Y7Nr0H3XeR<br />Posts:  2108<br />Company: OObOD0ERaRCygP7n","type":"bar","marker":{"autocolorscale":false,"color":"rgba(245,100,227,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"OObOD0ERaRCygP7n","legendgroup":"OObOD0ERaRCygP7n","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.899999999999999,"base":0,"x":[20],"y":[3539],"text":"reorder(Author, -Posts): Gl72B7I8z8BqUfqn<br />Posts:  3539<br />Company: TYhVPIZUCaOxG+SP","type":"bar","marker":{"autocolorscale":false,"color":"rgba(255,97,204,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"TYhVPIZUCaOxG+SP","legendgroup":"TYhVPIZUCaOxG+SP","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":0.900000000000006,"base":0,"x":[37],"y":[2231],"text":"reorder(Author, -Posts): gcRd4NY753xIiLmc<br />Posts:  2231<br />Company: U9I1K1ZKG/iSwPoi","type":"bar","marker":{"autocolorscale":false,"color":"rgba(255,100,176,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"U9I1K1ZKG/iSwPoi","legendgroup":"U9I1K1ZKG/iSwPoi","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.900000000000006,0.900000000000006],"base":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],"x":[1,2,3,4,7,6,8,9,12,13,15,17,21,22,25,30,31,34,43],"y":[37998,19739,15720,9696,8828,6969,5327,5012,4287,4252,4146,3912,3530,3209,2807,2578,2409,2342,1942],"text":["reorder(Author, -Posts): VHhV5lx01jAWyAeI<br />Posts: 37998<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): bRO6C3dLsSwEqKIR<br />Posts: 19739<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): ZQcbyzPlXigufV0c<br />Posts: 15720<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): QV3kc9zbTtjEc/4h<br />Posts:  9696<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): bfZnzraFE3tzUecD<br />Posts:  8828<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): Tr6NBL4ey/ypIq/L<br />Posts:  6969<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): jhlkGo7m10rWJX3r<br />Posts:  5327<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): VUAPm0goc1TOKubf<br />Posts:  5012<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): DpYrj5tuZ3cFkzyH<br />Posts:  4287<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): d3KUaQrLyXDG/Cxp<br />Posts:  4252<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): OOKKTqdRu8ouS9jN<br />Posts:  4146<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): GbMfsyWyF+2KN/IU<br />Posts:  3912<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): d8C08ChOoiKw7nMr<br />Posts:  3530<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): P76otN+HqO8TqyOD<br />Posts:  3209<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): f+8oNQUE4XTYyHLi<br />Posts:  2807<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): P1Pc0mo1ZWlHY07Y<br />Posts:  2578<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): cwlpIjmIgD6CRqIT<br />Posts:  2409<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): ktLJGsQ9ctBBxIz4<br />Posts:  2342<br />Company: W1nN8AwAEVtafMpA","reorder(Author, -Posts): ZREFZCKMadxdtBKn<br />Posts:  1942<br />Company: W1nN8AwAEVtafMpA"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(255,108,145,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"W1nN8AwAEVtafMpA","legendgroup":"W1nN8AwAEVtafMpA","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null}],"layout":{"margin":{"t":43.7625570776256,"r":7.30593607305936,"b":40.0568596155048,"l":54.7945205479452},"font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187},"title":{"text":"50 overall top posters on Eclipse mailing lists","font":{"color":"rgba(0,0,0,1)","family":"","size":17.5342465753425},"x":0,"xref":"paper"},"xaxis":{"domain":[0,1],"automargin":true,"type":"linear","autorange":false,"range":[0.4,49.6],"tickmode":"array","ticktext":["VHhV5lx01jAWyAeI","bRO6C3dLsSwEqKIR","ZQcbyzPlXigufV0c","QV3kc9zbTtjEc/4h","YbTJiaC/2iJfj5S+","Tr6NBL4ey/ypIq/L","bfZnzraFE3tzUecD","jhlkGo7m10rWJX3r","VUAPm0goc1TOKubf","RPKB7RxAMI1rlIZh","mKK/ds3PJsHSmj2P","DpYrj5tuZ3cFkzyH","d3KUaQrLyXDG/Cxp","nYijJWl3CSFa7w9T","OOKKTqdRu8ouS9jN","NU3Q1+xl8OCoA9Lv","GbMfsyWyF+2KN/IU","etXASDWy4TAQCkzr","HLXoVazcIY5gY1eR","Gl72B7I8z8BqUfqn","d8C08ChOoiKw7nMr","P76otN+HqO8TqyOD","O4ei7wwjUH/pwa1h","G6z9E4C5bISUpgwE","f+8oNQUE4XTYyHLi","QuOGZD1VN1XogskL","V6X5rBhUG2F8j0op","WkndvvY/mAc6qTTX","M7DqQxdyjR5GFQM5","P1Pc0mo1ZWlHY07Y","cwlpIjmIgD6CRqIT","D+a9r7wvIl2cmaxD","L207x5rq88VPvLDU","ktLJGsQ9ctBBxIz4","gisp6m52krf5oNI4","KNqP1WQTsWnmUBAa","gcRd4NY753xIiLmc","mwUO842qKVw2UjCk","JVr/n+umzrRYmK3K","KtRfmZYfeyUEpu69","FJAwtWMPMYSjyJg3","WfVD25Y7Nr0H3XeR","ZREFZCKMadxdtBKn","juv6FdOijWBafyf9","GV9WitITYucEQ48E","VCm5fmzZ2SKG+Eb3","DGE0CuiI2Gq5tW5g","A/vMbw+jBy9RS/MD","RVmXCvnA7Yt+03CI"],"tickvals":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49],"categoryorder":"array","categoryarray":["VHhV5lx01jAWyAeI","bRO6C3dLsSwEqKIR","ZQcbyzPlXigufV0c","QV3kc9zbTtjEc/4h","YbTJiaC/2iJfj5S+","Tr6NBL4ey/ypIq/L","bfZnzraFE3tzUecD","jhlkGo7m10rWJX3r","VUAPm0goc1TOKubf","RPKB7RxAMI1rlIZh","mKK/ds3PJsHSmj2P","DpYrj5tuZ3cFkzyH","d3KUaQrLyXDG/Cxp","nYijJWl3CSFa7w9T","OOKKTqdRu8ouS9jN","NU3Q1+xl8OCoA9Lv","GbMfsyWyF+2KN/IU","etXASDWy4TAQCkzr","HLXoVazcIY5gY1eR","Gl72B7I8z8BqUfqn","d8C08ChOoiKw7nMr","P76otN+HqO8TqyOD","O4ei7wwjUH/pwa1h","G6z9E4C5bISUpgwE","f+8oNQUE4XTYyHLi","QuOGZD1VN1XogskL","V6X5rBhUG2F8j0op","WkndvvY/mAc6qTTX","M7DqQxdyjR5GFQM5","P1Pc0mo1ZWlHY07Y","cwlpIjmIgD6CRqIT","D+a9r7wvIl2cmaxD","L207x5rq88VPvLDU","ktLJGsQ9ctBBxIz4","gisp6m52krf5oNI4","KNqP1WQTsWnmUBAa","gcRd4NY753xIiLmc","mwUO842qKVw2UjCk","JVr/n+umzrRYmK3K","KtRfmZYfeyUEpu69","FJAwtWMPMYSjyJg3","WfVD25Y7Nr0H3XeR","ZREFZCKMadxdtBKn","juv6FdOijWBafyf9","GV9WitITYucEQ48E","VCm5fmzZ2SKG+Eb3","DGE0CuiI2Gq5tW5g","A/vMbw+jBy9RS/MD","RVmXCvnA7Yt+03CI"],"nticks":null,"ticks":"","tickcolor":null,"ticklen":3.65296803652968,"tickwidth":0,"showticklabels":true,"tickfont":{"color":"rgba(77,77,77,1)","family":"","size":9.29846409298464},"tickangle":-60,"showline":false,"linecolor":null,"linewidth":0,"showgrid":true,"gridcolor":"rgba(235,235,235,1)","gridwidth":0.66417600664176,"zeroline":false,"anchor":"y","title":{"text":"Posters","font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187}},"hoverformat":".2f"},"yaxis":{"domain":[0,1],"automargin":true,"type":"linear","autorange":false,"range":[-1899.9,39897.9],"tickmode":"array","ticktext":["0","10000","20000","30000"],"tickvals":[0,10000,20000,30000],"categoryorder":"array","categoryarray":["0","10000","20000","30000"],"nticks":null,"ticks":"","tickcolor":null,"ticklen":3.65296803652968,"tickwidth":0,"showticklabels":true,"tickfont":{"color":"rgba(77,77,77,1)","family":"","size":11.689497716895},"tickangle":-0,"showline":false,"linecolor":null,"linewidth":0,"showgrid":true,"gridcolor":"rgba(235,235,235,1)","gridwidth":0.66417600664176,"zeroline":false,"anchor":"x","title":{"text":"Number of posts","font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187}},"hoverformat":".2f"},"shapes":[{"type":"rect","fillcolor":null,"line":{"color":null,"width":0,"linetype":[]},"yref":"paper","xref":"paper","x0":0,"x1":1,"y0":0,"y1":1}],"showlegend":true,"legend":{"bgcolor":null,"bordercolor":null,"borderwidth":0,"font":{"color":"rgba(0,0,0,1)","family":"","size":11.689497716895},"y":0.96751968503937},"annotations":[{"text":"Company","x":1.02,"y":1,"showarrow":false,"ax":0,"ay":0,"font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187},"xref":"paper","yref":"paper","textangle":-0,"xanchor":"left","yanchor":"bottom","legendTitle":true}],"hovermode":"closest","barmode":"relative"},"config":{"doubleClick":"reset","showSendToCloud":false},"source":"A","attrs":{"662f440d2d9":{"x":{},"y":{},"fill":{},"type":"bar"}},"cur_data":"662f440d2d9","visdat":{"662f440d2d9":["function (y) ","x"]},"highlight":{"on":"plotly_click","persistent":false,"dynamic":false,"selectize":false,"opacityDim":0.2,"selected":{"opacity":1},"debounce":0},"shinyEvents":["plotly_hover","plotly_click","plotly_selected","plotly_relayout","plotly_brushed","plotly_brushing","plotly_clickannotation","plotly_doubleclick","plotly_deselect","plotly_afterplot","plotly_sunburstclick"],"base_url":"https://plot.ly"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>#api_create(g, filename = &quot;r-eclipse_mls_authors&quot;)</code></pre>
</div>
<div id="posts-by-company" class="section level2">
<h2>Posts by Company</h2>
<p>We want to know what companies posted the most messages in mailing listsacross years. To that end we select the 20 companies that have the larger number of posts and plot the number of messages by company year after year.</p>
<pre class="r"><code>comps_list &lt;- head( sort( x = table(project.csv$Company), decreasing = T ), n=20 )
df &lt;- data.frame(Company=character(), 
                 Year=character(),
                 Posts=integer(), 
                 stringsAsFactors=FALSE) 
for (i in seq_along(1:20)) {
  project.comp.xts &lt;- project.xts[project.xts$Company == names(comps_list)[[i]],]
  project.comp.yearly &lt;- apply.yearly(x=project.comp.xts$Company, FUN=nrow)
  for (j in seq_along(1:nrow(project.comp.yearly))) {
    year &lt;- format(index(project.comp.yearly)[[j]],&quot;%Y&quot;)
    comp &lt;- as.data.frame(t(c(names(comps_list)[[i]], year, as.integer(project.comp.yearly[[j]]))))
    names(comp) &lt;- c(&quot;Company&quot;, &quot;Year&quot;, &quot;Posts&quot;)
    df &lt;- rbind(df, comp)
  }
}

df$Company &lt;- as.character(df$Company)
df &lt;- df[order(df$Company),]

p &lt;- ggplot(data=df, aes(x=Year, y = Posts, fill = Company)) + geom_bar(stat=&quot;identity&quot;) + 
  theme_minimal() + ylab(&quot;Number of posts&quot;) + xlab(&#39;Years&#39;) + 
  ggtitle(&quot;Top 20 Companies involved in Eclipse mailing lists across years&quot;) +
  theme( axis.text.x = element_text(angle=60, size = 7, hjust = 1))

g &lt;- ggplotly(p)
g</code></pre>
<div id="htmlwidget-5ca5f9c8862086941915" style="width:672px;height:480px;" class="plotly html-widget"></div>
<script type="application/json" data-for="htmlwidget-5ca5f9c8862086941915">{"x":{"data":[{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1501,0,2191,2146,1186,1209,2208,480,1703,2089,854,1487,2144,1549,2151,1662,1122],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[125,232,36,78,126,209,17,223,196,133,167,97,66,78,32,19,13],"text":["Year: 2005<br />Posts: 125<br />Company: AEI84owwRhsKJuVp","Year: 2006<br />Posts: 232<br />Company: AEI84owwRhsKJuVp","Year: 2007<br />Posts:  36<br />Company: AEI84owwRhsKJuVp","Year: 2008<br />Posts:  78<br />Company: AEI84owwRhsKJuVp","Year: 2009<br />Posts: 126<br />Company: AEI84owwRhsKJuVp","Year: 2010<br />Posts: 209<br />Company: AEI84owwRhsKJuVp","Year: 2011<br />Posts:  17<br />Company: AEI84owwRhsKJuVp","Year: 2012<br />Posts: 223<br />Company: AEI84owwRhsKJuVp","Year: 2013<br />Posts: 196<br />Company: AEI84owwRhsKJuVp","Year: 2014<br />Posts: 133<br />Company: AEI84owwRhsKJuVp","Year: 2015<br />Posts: 167<br />Company: AEI84owwRhsKJuVp","Year: 2016<br />Posts:  97<br />Company: AEI84owwRhsKJuVp","Year: 2017<br />Posts:  66<br />Company: AEI84owwRhsKJuVp","Year: 2018<br />Posts:  78<br />Company: AEI84owwRhsKJuVp","Year: 2019<br />Posts:  32<br />Company: AEI84owwRhsKJuVp","Year: 2020<br />Posts:  19<br />Company: AEI84owwRhsKJuVp","Year: 2021<br />Posts:  13<br />Company: AEI84owwRhsKJuVp"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(248,118,109,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"AEI84owwRhsKJuVp","legendgroup":"AEI84owwRhsKJuVp","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[259,1354,1973,1313,997],"x":[17,18,19,20,21],"y":[246,110,83,102,60],"text":["Year: 2017<br />Posts: 246<br />Company: Axg6u0jPYbtq1P19","Year: 2018<br />Posts: 110<br />Company: Axg6u0jPYbtq1P19","Year: 2019<br />Posts:  83<br />Company: Axg6u0jPYbtq1P19","Year: 2020<br />Posts: 102<br />Company: Axg6u0jPYbtq1P19","Year: 2021<br />Posts:  60<br />Company: Axg6u0jPYbtq1P19"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(234,131,49,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"Axg6u0jPYbtq1P19","legendgroup":"Axg6u0jPYbtq1P19","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1355,463,471,227,681,2523,1706,2145,516,1114,1021,1381,2301,1627,1360,971,489],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[146,210,217,222,173,138,131,35,244,190,162,106,37,59,180,132,118],"text":["Year: 2005<br />Posts: 146<br />Company: b0LdzEWMDBXUKPTF","Year: 2006<br />Posts: 210<br />Company: b0LdzEWMDBXUKPTF","Year: 2007<br />Posts: 217<br />Company: b0LdzEWMDBXUKPTF","Year: 2008<br />Posts: 222<br />Company: b0LdzEWMDBXUKPTF","Year: 2009<br />Posts: 173<br />Company: b0LdzEWMDBXUKPTF","Year: 2010<br />Posts: 138<br />Company: b0LdzEWMDBXUKPTF","Year: 2011<br />Posts: 131<br />Company: b0LdzEWMDBXUKPTF","Year: 2012<br />Posts:  35<br />Company: b0LdzEWMDBXUKPTF","Year: 2013<br />Posts: 244<br />Company: b0LdzEWMDBXUKPTF","Year: 2014<br />Posts: 190<br />Company: b0LdzEWMDBXUKPTF","Year: 2015<br />Posts: 162<br />Company: b0LdzEWMDBXUKPTF","Year: 2016<br />Posts: 106<br />Company: b0LdzEWMDBXUKPTF","Year: 2017<br />Posts:  37<br />Company: b0LdzEWMDBXUKPTF","Year: 2018<br />Posts:  59<br />Company: b0LdzEWMDBXUKPTF","Year: 2019<br />Posts: 180<br />Company: b0LdzEWMDBXUKPTF","Year: 2020<br />Posts: 132<br />Company: b0LdzEWMDBXUKPTF","Year: 2021<br />Posts: 118<br />Company: b0LdzEWMDBXUKPTF"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(216,144,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"b0LdzEWMDBXUKPTF","legendgroup":"b0LdzEWMDBXUKPTF","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1982,1170,688,2446,1845,2353,1570,1587,2241,1488,257,473,1711,1744,2213,1641,930],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[67,132,189,65,65,170,136,128,159,181,204,220,119,22,8,21,67],"text":["Year: 2005<br />Posts:  67<br />Company: B40Lw2ljD9IvdhLU","Year: 2006<br />Posts: 132<br />Company: B40Lw2ljD9IvdhLU","Year: 2007<br />Posts: 189<br />Company: B40Lw2ljD9IvdhLU","Year: 2008<br />Posts:  65<br />Company: B40Lw2ljD9IvdhLU","Year: 2009<br />Posts:  65<br />Company: B40Lw2ljD9IvdhLU","Year: 2010<br />Posts: 170<br />Company: B40Lw2ljD9IvdhLU","Year: 2011<br />Posts: 136<br />Company: B40Lw2ljD9IvdhLU","Year: 2012<br />Posts: 128<br />Company: B40Lw2ljD9IvdhLU","Year: 2013<br />Posts: 159<br />Company: B40Lw2ljD9IvdhLU","Year: 2014<br />Posts: 181<br />Company: B40Lw2ljD9IvdhLU","Year: 2015<br />Posts: 204<br />Company: B40Lw2ljD9IvdhLU","Year: 2016<br />Posts: 220<br />Company: B40Lw2ljD9IvdhLU","Year: 2017<br />Posts: 119<br />Company: B40Lw2ljD9IvdhLU","Year: 2018<br />Posts:  22<br />Company: B40Lw2ljD9IvdhLU","Year: 2019<br />Posts:   8<br />Company: B40Lw2ljD9IvdhLU","Year: 2020<br />Posts:  21<br />Company: B40Lw2ljD9IvdhLU","Year: 2021<br />Posts:  67<br />Company: B40Lw2ljD9IvdhLU"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(192,155,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"B40Lw2ljD9IvdhLU","legendgroup":"B40Lw2ljD9IvdhLU","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[2205,1302,1384,656,0,256,251,0,1474,903,461,693,1116,717,984,247,187],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[28,117,148,205,254,252,236,241,229,211,199,208,169,192,191,206,175],"text":["Year: 2005<br />Posts:  28<br />Company: CbnZqLa+BiRPNliU","Year: 2006<br />Posts: 117<br />Company: CbnZqLa+BiRPNliU","Year: 2007<br />Posts: 148<br />Company: CbnZqLa+BiRPNliU","Year: 2008<br />Posts: 205<br />Company: CbnZqLa+BiRPNliU","Year: 2009<br />Posts: 254<br />Company: CbnZqLa+BiRPNliU","Year: 2010<br />Posts: 252<br />Company: CbnZqLa+BiRPNliU","Year: 2011<br />Posts: 236<br />Company: CbnZqLa+BiRPNliU","Year: 2012<br />Posts: 241<br />Company: CbnZqLa+BiRPNliU","Year: 2013<br />Posts: 229<br />Company: CbnZqLa+BiRPNliU","Year: 2014<br />Posts: 211<br />Company: CbnZqLa+BiRPNliU","Year: 2015<br />Posts: 199<br />Company: CbnZqLa+BiRPNliU","Year: 2016<br />Posts: 208<br />Company: CbnZqLa+BiRPNliU","Year: 2017<br />Posts: 169<br />Company: CbnZqLa+BiRPNliU","Year: 2018<br />Posts: 192<br />Company: CbnZqLa+BiRPNliU","Year: 2019<br />Posts: 191<br />Company: CbnZqLa+BiRPNliU","Year: 2020<br />Posts: 206<br />Company: CbnZqLa+BiRPNliU","Year: 2021<br />Posts: 175<br />Company: CbnZqLa+BiRPNliU"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(163,165,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"CbnZqLa+BiRPNliU","legendgroup":"CbnZqLa+BiRPNliU","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1626,1895,1939,2511,854,2661,487,241,0,691,0,1746,2210,1464,2056,1103,835],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[112,32,96,62,167,136,230,239,261,212,257,40,48,85,53,107,95],"text":["Year: 2005<br />Posts: 112<br />Company: chCGqpnXMYAEJlyc","Year: 2006<br />Posts:  32<br />Company: chCGqpnXMYAEJlyc","Year: 2007<br />Posts:  96<br />Company: chCGqpnXMYAEJlyc","Year: 2008<br />Posts:  62<br />Company: chCGqpnXMYAEJlyc","Year: 2009<br />Posts: 167<br />Company: chCGqpnXMYAEJlyc","Year: 2010<br />Posts: 136<br />Company: chCGqpnXMYAEJlyc","Year: 2011<br />Posts: 230<br />Company: chCGqpnXMYAEJlyc","Year: 2012<br />Posts: 239<br />Company: chCGqpnXMYAEJlyc","Year: 2013<br />Posts: 261<br />Company: chCGqpnXMYAEJlyc","Year: 2014<br />Posts: 212<br />Company: chCGqpnXMYAEJlyc","Year: 2015<br />Posts: 257<br />Company: chCGqpnXMYAEJlyc","Year: 2016<br />Posts:  40<br />Company: chCGqpnXMYAEJlyc","Year: 2017<br />Posts:  48<br />Company: chCGqpnXMYAEJlyc","Year: 2018<br />Posts:  85<br />Company: chCGqpnXMYAEJlyc","Year: 2019<br />Posts:  53<br />Company: chCGqpnXMYAEJlyc","Year: 2020<br />Posts: 107<br />Company: chCGqpnXMYAEJlyc","Year: 2021<br />Posts:  95<br />Company: chCGqpnXMYAEJlyc"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(124,174,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"chCGqpnXMYAEJlyc","legendgroup":"chCGqpnXMYAEJlyc","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1738,1791,1679,1712,1021,2179,1112,1452,2557,2548,2065,1651,0,1766,2109,1210,1135],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[86,63,137,144,165,174,166,135,139,73,50,51,259,20,42,103,1],"text":["Year: 2005<br />Posts:  86<br />Company: d7Wbcrk9dYiFiN5n","Year: 2006<br />Posts:  63<br />Company: d7Wbcrk9dYiFiN5n","Year: 2007<br />Posts: 137<br />Company: d7Wbcrk9dYiFiN5n","Year: 2008<br />Posts: 144<br />Company: d7Wbcrk9dYiFiN5n","Year: 2009<br />Posts: 165<br />Company: d7Wbcrk9dYiFiN5n","Year: 2010<br />Posts: 174<br />Company: d7Wbcrk9dYiFiN5n","Year: 2011<br />Posts: 166<br />Company: d7Wbcrk9dYiFiN5n","Year: 2012<br />Posts: 135<br />Company: d7Wbcrk9dYiFiN5n","Year: 2013<br />Posts: 139<br />Company: d7Wbcrk9dYiFiN5n","Year: 2014<br />Posts:  73<br />Company: d7Wbcrk9dYiFiN5n","Year: 2015<br />Posts:  50<br />Company: d7Wbcrk9dYiFiN5n","Year: 2016<br />Posts:  51<br />Company: d7Wbcrk9dYiFiN5n","Year: 2017<br />Posts: 259<br />Company: d7Wbcrk9dYiFiN5n","Year: 2018<br />Posts:  20<br />Company: d7Wbcrk9dYiFiN5n","Year: 2019<br />Posts:  42<br />Company: d7Wbcrk9dYiFiN5n","Year: 2020<br />Posts: 103<br />Company: d7Wbcrk9dYiFiN5n","Year: 2021<br />Posts:   1<br />Company: d7Wbcrk9dYiFiN5n"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(57,182,0,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"d7Wbcrk9dYiFiN5n","legendgroup":"d7Wbcrk9dYiFiN5n","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[0,232,2227,2057,1425,2915,2083,2180,760,1669,1183,1786,2053,1804,753,1681,723],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[259,231,10,89,92,114,64,27,243,151,160,29,91,3,231,9,112],"text":["Year: 2005<br />Posts: 259<br />Company: dzMDlwjRxUt69dBL","Year: 2006<br />Posts: 231<br />Company: dzMDlwjRxUt69dBL","Year: 2007<br />Posts:  10<br />Company: dzMDlwjRxUt69dBL","Year: 2008<br />Posts:  89<br />Company: dzMDlwjRxUt69dBL","Year: 2009<br />Posts:  92<br />Company: dzMDlwjRxUt69dBL","Year: 2010<br />Posts: 114<br />Company: dzMDlwjRxUt69dBL","Year: 2011<br />Posts:  64<br />Company: dzMDlwjRxUt69dBL","Year: 2012<br />Posts:  27<br />Company: dzMDlwjRxUt69dBL","Year: 2013<br />Posts: 243<br />Company: dzMDlwjRxUt69dBL","Year: 2014<br />Posts: 151<br />Company: dzMDlwjRxUt69dBL","Year: 2015<br />Posts: 160<br />Company: dzMDlwjRxUt69dBL","Year: 2016<br />Posts:  29<br />Company: dzMDlwjRxUt69dBL","Year: 2017<br />Posts:  91<br />Company: dzMDlwjRxUt69dBL","Year: 2018<br />Posts:   3<br />Company: dzMDlwjRxUt69dBL","Year: 2019<br />Posts: 231<br />Company: dzMDlwjRxUt69dBL","Year: 2020<br />Posts:   9<br />Company: dzMDlwjRxUt69dBL","Year: 2021<br />Posts: 112<br />Company: dzMDlwjRxUt69dBL"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,187,78,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"dzMDlwjRxUt69dBL","legendgroup":"dzMDlwjRxUt69dBL","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[2110,1017,1049,1567,1517,3029,1935,2074,3006,2621,2177,245,1448,1077,1175,0,0],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[49,153,171,145,90,88,75,71,68,33,23,228,139,155,185,247,187],"text":["Year: 2005<br />Posts:  49<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2006<br />Posts: 153<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2007<br />Posts: 171<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2008<br />Posts: 145<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2009<br />Posts:  90<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2010<br />Posts:  88<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2011<br />Posts:  75<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2012<br />Posts:  71<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2013<br />Posts:  68<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2014<br />Posts:  33<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2015<br />Posts:  23<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2016<br />Posts: 228<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2017<br />Posts: 139<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2018<br />Posts: 155<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2019<br />Posts: 185<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2020<br />Posts: 247<br />Company: Eg1Eg8ah5Rcf8CJw","Year: 2021<br />Posts: 187<br />Company: Eg1Eg8ah5Rcf8CJw"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,191,125,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"Eg1Eg8ah5Rcf8CJw","legendgroup":"Eg1Eg8ah5Rcf8CJw","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[957,1972,0,1960,1607,1816,2147,1715,1899,1304,660,1584],"x":[5,6,7,8,9,10,11,12,13,14,15,16],"y":[203,5,237,97,87,183,61,100,178,184,194,67],"text":["Year: 2005<br />Posts: 203<br />Company: gxzKNAGnsmZW2gOF","Year: 2006<br />Posts:   5<br />Company: gxzKNAGnsmZW2gOF","Year: 2007<br />Posts: 237<br />Company: gxzKNAGnsmZW2gOF","Year: 2008<br />Posts:  97<br />Company: gxzKNAGnsmZW2gOF","Year: 2009<br />Posts:  87<br />Company: gxzKNAGnsmZW2gOF","Year: 2010<br />Posts: 183<br />Company: gxzKNAGnsmZW2gOF","Year: 2011<br />Posts:  61<br />Company: gxzKNAGnsmZW2gOF","Year: 2012<br />Posts: 100<br />Company: gxzKNAGnsmZW2gOF","Year: 2013<br />Posts: 178<br />Company: gxzKNAGnsmZW2gOF","Year: 2014<br />Posts: 184<br />Company: gxzKNAGnsmZW2gOF","Year: 2015<br />Posts: 194<br />Company: gxzKNAGnsmZW2gOF","Year: 2016<br />Posts:  67<br />Company: gxzKNAGnsmZW2gOF"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,193,163,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"gxzKNAGnsmZW2gOF","legendgroup":"gxzKNAGnsmZW2gOF","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[861,1910,508,936,1300,2077,1820,1638,1266,1587,1686,2183,453],"x":[8,9,10,11,12,13,14,15,16,17,18,19,20],"y":[201,57,242,176,152,164,135,140,115,124,58,30,189],"text":["Year: 2008<br />Posts: 201<br />Company: hioP4rJCfX3A4b9d","Year: 2009<br />Posts:  57<br />Company: hioP4rJCfX3A4b9d","Year: 2010<br />Posts: 242<br />Company: hioP4rJCfX3A4b9d","Year: 2011<br />Posts: 176<br />Company: hioP4rJCfX3A4b9d","Year: 2012<br />Posts: 152<br />Company: hioP4rJCfX3A4b9d","Year: 2013<br />Posts: 164<br />Company: hioP4rJCfX3A4b9d","Year: 2014<br />Posts: 135<br />Company: hioP4rJCfX3A4b9d","Year: 2015<br />Posts: 140<br />Company: hioP4rJCfX3A4b9d","Year: 2016<br />Posts: 115<br />Company: hioP4rJCfX3A4b9d","Year: 2017<br />Posts: 124<br />Company: hioP4rJCfX3A4b9d","Year: 2018<br />Posts:  58<br />Company: hioP4rJCfX3A4b9d","Year: 2019<br />Posts:  30<br />Company: hioP4rJCfX3A4b9d","Year: 2020<br />Posts: 189<br />Company: hioP4rJCfX3A4b9d"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,191,196,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"hioP4rJCfX3A4b9d","legendgroup":"hioP4rJCfX3A4b9d","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1908,1712,2035,2377,2019,3117,2010,2002,2926,2352,1497,1084,923,909,1853,1497],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],"y":[74,79,82,69,45,54,73,72,80,109,141,182,193,168,120,77],"text":["Year: 2005<br />Posts:  74<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2006<br />Posts:  79<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2007<br />Posts:  82<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2008<br />Posts:  69<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2009<br />Posts:  45<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2010<br />Posts:  54<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2011<br />Posts:  73<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2012<br />Posts:  72<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2013<br />Posts:  80<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2014<br />Posts: 109<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2015<br />Posts: 141<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2016<br />Posts: 182<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2017<br />Posts: 193<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2018<br />Posts: 168<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2019<br />Posts: 120<br />Company: Ifk1Mk0lZqwkLQNP","Year: 2020<br />Posts:  77<br />Company: Ifk1Mk0lZqwkLQNP"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,186,224,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"Ifk1Mk0lZqwkLQNP","legendgroup":"Ifk1Mk0lZqwkLQNP","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[743,1854,237,1411,2090,1999,1837,1815,2696,1955,1343,1835,726,0,1540,1690,1057],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[214,41,234,156,2,180,98,94,129,134,154,16,197,253,163,4,34],"text":["Year: 2005<br />Posts: 214<br />Company: IVnxVeK+h3hKNduE","Year: 2006<br />Posts:  41<br />Company: IVnxVeK+h3hKNduE","Year: 2007<br />Posts: 234<br />Company: IVnxVeK+h3hKNduE","Year: 2008<br />Posts: 156<br />Company: IVnxVeK+h3hKNduE","Year: 2009<br />Posts:   2<br />Company: IVnxVeK+h3hKNduE","Year: 2010<br />Posts: 180<br />Company: IVnxVeK+h3hKNduE","Year: 2011<br />Posts:  98<br />Company: IVnxVeK+h3hKNduE","Year: 2012<br />Posts:  94<br />Company: IVnxVeK+h3hKNduE","Year: 2013<br />Posts: 129<br />Company: IVnxVeK+h3hKNduE","Year: 2014<br />Posts: 134<br />Company: IVnxVeK+h3hKNduE","Year: 2015<br />Posts: 154<br />Company: IVnxVeK+h3hKNduE","Year: 2016<br />Posts:  16<br />Company: IVnxVeK+h3hKNduE","Year: 2017<br />Posts: 197<br />Company: IVnxVeK+h3hKNduE","Year: 2018<br />Posts: 253<br />Company: IVnxVeK+h3hKNduE","Year: 2019<br />Posts: 163<br />Company: IVnxVeK+h3hKNduE","Year: 2020<br />Posts:   4<br />Company: IVnxVeK+h3hKNduE","Year: 2021<br />Posts:  34<br />Company: IVnxVeK+h3hKNduE"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(0,176,246,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"IVnxVeK+h3hKNduE","legendgroup":"IVnxVeK+h3hKNduE","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[2049,1626,877,2301,1775,2797,1278,3074,2654,2010,1851,1830,502,2221],"x":[5,6,7,8,9,10,11,13,14,15,16,17,18,19],"y":[61,86,172,76,70,118,149,1,1,55,13,118,215,1],"text":["Year: 2005<br />Posts:  61<br />Company: NgMgBBku/lsO9p0/","Year: 2006<br />Posts:  86<br />Company: NgMgBBku/lsO9p0/","Year: 2007<br />Posts: 172<br />Company: NgMgBBku/lsO9p0/","Year: 2008<br />Posts:  76<br />Company: NgMgBBku/lsO9p0/","Year: 2009<br />Posts:  70<br />Company: NgMgBBku/lsO9p0/","Year: 2010<br />Posts: 118<br />Company: NgMgBBku/lsO9p0/","Year: 2011<br />Posts: 149<br />Company: NgMgBBku/lsO9p0/","Year: 2013<br />Posts:   1<br />Company: NgMgBBku/lsO9p0/","Year: 2014<br />Posts:   1<br />Company: NgMgBBku/lsO9p0/","Year: 2015<br />Posts:  55<br />Company: NgMgBBku/lsO9p0/","Year: 2016<br />Posts:  13<br />Company: NgMgBBku/lsO9p0/","Year: 2017<br />Posts: 118<br />Company: NgMgBBku/lsO9p0/","Year: 2018<br />Posts: 215<br />Company: NgMgBBku/lsO9p0/","Year: 2019<br />Posts:   1<br />Company: NgMgBBku/lsO9p0/"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(53,162,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"NgMgBBku/lsO9p0/","legendgroup":"NgMgBBku/lsO9p0/","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[2159,673,1816,1250,1694,3171,2236,703,1003,250,1778],"x":[5,6,7,8,9,10,11,12,13,14,15],"y":[46,186,123,161,81,47,7,218,238,225,121],"text":["Year: 2005<br />Posts:  46<br />Company: nWlL0UOAj0XcHSVs","Year: 2006<br />Posts: 186<br />Company: nWlL0UOAj0XcHSVs","Year: 2007<br />Posts: 123<br />Company: nWlL0UOAj0XcHSVs","Year: 2008<br />Posts: 161<br />Company: nWlL0UOAj0XcHSVs","Year: 2009<br />Posts:  81<br />Company: nWlL0UOAj0XcHSVs","Year: 2010<br />Posts:  47<br />Company: nWlL0UOAj0XcHSVs","Year: 2011<br />Posts:   7<br />Company: nWlL0UOAj0XcHSVs","Year: 2012<br />Posts: 218<br />Company: nWlL0UOAj0XcHSVs","Year: 2013<br />Posts: 238<br />Company: nWlL0UOAj0XcHSVs","Year: 2014<br />Posts: 225<br />Company: nWlL0UOAj0XcHSVs","Year: 2015<br />Posts: 121<br />Company: nWlL0UOAj0XcHSVs"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(149,144,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"nWlL0UOAj0XcHSVs","legendgroup":"nWlL0UOAj0XcHSVs","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[517,1419,2237,1062,1967,750,2243],"x":[5,6,7,8,9,10,11],"y":[226,108,6,188,52,235,1],"text":["Year: 2005<br />Posts: 226<br />Company: nykMKcEeHF3jVOz8","Year: 2006<br />Posts: 108<br />Company: nykMKcEeHF3jVOz8","Year: 2007<br />Posts:   6<br />Company: nykMKcEeHF3jVOz8","Year: 2008<br />Posts: 188<br />Company: nykMKcEeHF3jVOz8","Year: 2009<br />Posts:  52<br />Company: nykMKcEeHF3jVOz8","Year: 2010<br />Posts: 235<br />Company: nykMKcEeHF3jVOz8","Year: 2011<br />Posts:   1<br />Company: nykMKcEeHF3jVOz8"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(199,124,255,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"nykMKcEeHF3jVOz8","legendgroup":"nykMKcEeHF3jVOz8","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1824,1527,1220,0,254,1418,1427,1909,261,475,2115,0,1285,253,1703,642,1091],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[84,99,164,227,248,200,143,93,255,216,37,245,163,249,150,187,31],"text":["Year: 2005<br />Posts:  84<br />Company: SBv9Sze5GOciEB0/","Year: 2006<br />Posts:  99<br />Company: SBv9Sze5GOciEB0/","Year: 2007<br />Posts: 164<br />Company: SBv9Sze5GOciEB0/","Year: 2008<br />Posts: 227<br />Company: SBv9Sze5GOciEB0/","Year: 2009<br />Posts: 248<br />Company: SBv9Sze5GOciEB0/","Year: 2010<br />Posts: 200<br />Company: SBv9Sze5GOciEB0/","Year: 2011<br />Posts: 143<br />Company: SBv9Sze5GOciEB0/","Year: 2012<br />Posts:  93<br />Company: SBv9Sze5GOciEB0/","Year: 2013<br />Posts: 255<br />Company: SBv9Sze5GOciEB0/","Year: 2014<br />Posts: 216<br />Company: SBv9Sze5GOciEB0/","Year: 2015<br />Posts:  37<br />Company: SBv9Sze5GOciEB0/","Year: 2016<br />Posts: 245<br />Company: SBv9Sze5GOciEB0/","Year: 2017<br />Posts: 163<br />Company: SBv9Sze5GOciEB0/","Year: 2018<br />Posts: 249<br />Company: SBv9Sze5GOciEB0/","Year: 2019<br />Posts: 150<br />Company: SBv9Sze5GOciEB0/","Year: 2020<br />Posts: 187<br />Company: SBv9Sze5GOciEB0/","Year: 2021<br />Posts:  31<br />Company: SBv9Sze5GOciEB0/"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(231,107,243,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"SBv9Sze5GOciEB0/","legendgroup":"SBv9Sze5GOciEB0/","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[259,1927,2117,1856,2064,1618,0,1123,2400,2461,1899,1815,505,260,1574],"x":[5,6,7,8,9,10,11,12,13,14,15,16,17,19,20],"y":[258,24,38,104,26,198,251,177,157,87,111,20,221,253,67],"text":["Year: 2005<br />Posts: 258<br />Company: TYhVPIZUCaOxG+SP","Year: 2006<br />Posts:  24<br />Company: TYhVPIZUCaOxG+SP","Year: 2007<br />Posts:  38<br />Company: TYhVPIZUCaOxG+SP","Year: 2008<br />Posts: 104<br />Company: TYhVPIZUCaOxG+SP","Year: 2009<br />Posts:  26<br />Company: TYhVPIZUCaOxG+SP","Year: 2010<br />Posts: 198<br />Company: TYhVPIZUCaOxG+SP","Year: 2011<br />Posts: 251<br />Company: TYhVPIZUCaOxG+SP","Year: 2012<br />Posts: 177<br />Company: TYhVPIZUCaOxG+SP","Year: 2013<br />Posts: 157<br />Company: TYhVPIZUCaOxG+SP","Year: 2014<br />Posts:  87<br />Company: TYhVPIZUCaOxG+SP","Year: 2015<br />Posts: 111<br />Company: TYhVPIZUCaOxG+SP","Year: 2016<br />Posts:  20<br />Company: TYhVPIZUCaOxG+SP","Year: 2017<br />Posts: 221<br />Company: TYhVPIZUCaOxG+SP","Year: 2019<br />Posts: 253<br />Company: TYhVPIZUCaOxG+SP","Year: 2020<br />Posts:  67<br />Company: TYhVPIZUCaOxG+SP"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(250,98,219,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"TYhVPIZUCaOxG+SP","legendgroup":"TYhVPIZUCaOxG+SP","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[0,0,0,0,1160,859,1532,449,502,985,2225,2207,1241,0,2152,1702,2258,1786,513,829,362],"x":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[15,213,39,56,195,158,147,207,179,224,11,12,233,250,25,44,43,18,240,142,127],"text":["Year: 2001<br />Posts:  15<br />Company: W1nN8AwAEVtafMpA","Year: 2002<br />Posts: 213<br />Company: W1nN8AwAEVtafMpA","Year: 2003<br />Posts:  39<br />Company: W1nN8AwAEVtafMpA","Year: 2004<br />Posts:  56<br />Company: W1nN8AwAEVtafMpA","Year: 2005<br />Posts: 195<br />Company: W1nN8AwAEVtafMpA","Year: 2006<br />Posts: 158<br />Company: W1nN8AwAEVtafMpA","Year: 2007<br />Posts: 147<br />Company: W1nN8AwAEVtafMpA","Year: 2008<br />Posts: 207<br />Company: W1nN8AwAEVtafMpA","Year: 2009<br />Posts: 179<br />Company: W1nN8AwAEVtafMpA","Year: 2010<br />Posts: 224<br />Company: W1nN8AwAEVtafMpA","Year: 2011<br />Posts:  11<br />Company: W1nN8AwAEVtafMpA","Year: 2012<br />Posts:  12<br />Company: W1nN8AwAEVtafMpA","Year: 2013<br />Posts: 233<br />Company: W1nN8AwAEVtafMpA","Year: 2014<br />Posts: 250<br />Company: W1nN8AwAEVtafMpA","Year: 2015<br />Posts:  25<br />Company: W1nN8AwAEVtafMpA","Year: 2016<br />Posts:  44<br />Company: W1nN8AwAEVtafMpA","Year: 2017<br />Posts:  43<br />Company: W1nN8AwAEVtafMpA","Year: 2018<br />Posts:  18<br />Company: W1nN8AwAEVtafMpA","Year: 2019<br />Posts: 240<br />Company: W1nN8AwAEVtafMpA","Year: 2020<br />Posts: 142<br />Company: W1nN8AwAEVtafMpA","Year: 2021<br />Posts: 127<br />Company: W1nN8AwAEVtafMpA"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(255,98,188,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"W1nN8AwAEVtafMpA","legendgroup":"W1nN8AwAEVtafMpA","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"orientation":"v","width":[0.9,0.9,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999,0.899999999999999],"base":[1951,2155,2224,1312,0,717,921,2825,2222,2200,901,1948,1232,0,1415,607],"x":[6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"y":[21,36,77,113,256,219,202,101,130,14,183,105,122,260,82,116],"text":["Year: 2006<br />Posts:  21<br />Company: WEaS8ksW24v2VZRX","Year: 2007<br />Posts:  36<br />Company: WEaS8ksW24v2VZRX","Year: 2008<br />Posts:  77<br />Company: WEaS8ksW24v2VZRX","Year: 2009<br />Posts: 113<br />Company: WEaS8ksW24v2VZRX","Year: 2010<br />Posts: 256<br />Company: WEaS8ksW24v2VZRX","Year: 2011<br />Posts: 219<br />Company: WEaS8ksW24v2VZRX","Year: 2012<br />Posts: 202<br />Company: WEaS8ksW24v2VZRX","Year: 2013<br />Posts: 101<br />Company: WEaS8ksW24v2VZRX","Year: 2014<br />Posts: 130<br />Company: WEaS8ksW24v2VZRX","Year: 2015<br />Posts:  14<br />Company: WEaS8ksW24v2VZRX","Year: 2016<br />Posts: 183<br />Company: WEaS8ksW24v2VZRX","Year: 2017<br />Posts: 105<br />Company: WEaS8ksW24v2VZRX","Year: 2018<br />Posts: 122<br />Company: WEaS8ksW24v2VZRX","Year: 2019<br />Posts: 260<br />Company: WEaS8ksW24v2VZRX","Year: 2020<br />Posts:  82<br />Company: WEaS8ksW24v2VZRX","Year: 2021<br />Posts: 116<br />Company: WEaS8ksW24v2VZRX"],"type":"bar","marker":{"autocolorscale":false,"color":"rgba(255,106,152,1)","line":{"width":1.88976377952756,"color":"transparent"}},"name":"WEaS8ksW24v2VZRX","legendgroup":"WEaS8ksW24v2VZRX","showlegend":true,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null}],"layout":{"margin":{"t":43.7625570776256,"r":7.30593607305936,"b":37.7916147779162,"l":54.7945205479452},"font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187},"title":{"text":"Top 20 Companies involved in Eclipse mailing lists across years","font":{"color":"rgba(0,0,0,1)","family":"","size":17.5342465753425},"x":0,"xref":"paper"},"xaxis":{"domain":[0,1],"automargin":true,"type":"linear","autorange":false,"range":[0.4,21.6],"tickmode":"array","ticktext":["2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021"],"tickvals":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],"categoryorder":"array","categoryarray":["2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021"],"nticks":null,"ticks":"","tickcolor":null,"ticklen":3.65296803652968,"tickwidth":0,"showticklabels":true,"tickfont":{"color":"rgba(77,77,77,1)","family":"","size":9.29846409298464},"tickangle":-60,"showline":false,"linecolor":null,"linewidth":0,"showgrid":true,"gridcolor":"rgba(235,235,235,1)","gridwidth":0.66417600664176,"zeroline":false,"anchor":"y","title":{"text":"Years","font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187}},"hoverformat":".2f"},"yaxis":{"domain":[0,1],"automargin":true,"type":"linear","autorange":false,"range":[0,3218],"tickmode":"array","ticktext":["1","100","1015","102","1029","1037","104","105","1058","1081","10811","10877","11","111","1113","112","1129","11507","117","119","12","120","1202","1206","12068","1216","1230","1231","124","126","13","133","1371","14","1414","142","143","1445","14669","1479","1482","151","15170","15242","153","1634","165","1663","1668","170","172","176","1783","179","18","18032","1824","183","186","188","19","191","192","1930","194","195","2","2009","201","2052","2053","207","210","211","2133","2140","220","222","223","224","225","226","2274","228","2297","23","230","2301","2332","2341","235","2358","238","24","240","245","247","25","250","251","254","2559","26","2604","264","265","2656","2668","267","2675","268","27","273","2759","289","29","2950","3","304","308","31","312","3126","319","32","323","326","329","33","330","3355","34","340","35","351","353","355","3608","362","371","372","3777","380","382","3827","3884","3948","3974","4","40","403","409","4093","41","410","425","427","4276","429","431","436","440","45","450","451","458","460","461","4640","472","4818","486","4894","493","501","509","510","514","5193","52","520","538","54","540","541","5479","56","568","57","579","5796","5863","590","597","6054","606","61","618","6190","629","63","631","634","636","6396","6522","6572","6614","671","6803","6809","683","6891","694","7","70","7044","71","715","718","72","7248","734","7471","75","753","764","772","7809","787","789","79","7950","798","8","8010","815","83","835","8451","8491","853","857","858","87","881","883","885","89","8953","897","8980","9","9173","92","922","926","95","97","98","986"],"tickvals":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261],"categoryorder":"array","categoryarray":["1","100","1015","102","1029","1037","104","105","1058","1081","10811","10877","11","111","1113","112","1129","11507","117","119","12","120","1202","1206","12068","1216","1230","1231","124","126","13","133","1371","14","1414","142","143","1445","14669","1479","1482","151","15170","15242","153","1634","165","1663","1668","170","172","176","1783","179","18","18032","1824","183","186","188","19","191","192","1930","194","195","2","2009","201","2052","2053","207","210","211","2133","2140","220","222","223","224","225","226","2274","228","2297","23","230","2301","2332","2341","235","2358","238","24","240","245","247","25","250","251","254","2559","26","2604","264","265","2656","2668","267","2675","268","27","273","2759","289","29","2950","3","304","308","31","312","3126","319","32","323","326","329","33","330","3355","34","340","35","351","353","355","3608","362","371","372","3777","380","382","3827","3884","3948","3974","4","40","403","409","4093","41","410","425","427","4276","429","431","436","440","45","450","451","458","460","461","4640","472","4818","486","4894","493","501","509","510","514","5193","52","520","538","54","540","541","5479","56","568","57","579","5796","5863","590","597","6054","606","61","618","6190","629","63","631","634","636","6396","6522","6572","6614","671","6803","6809","683","6891","694","7","70","7044","71","715","718","72","7248","734","7471","75","753","764","772","7809","787","789","79","7950","798","8","8010","815","83","835","8451","8491","853","857","858","87","881","883","885","89","8953","897","8980","9","9173","92","922","926","95","97","98","986"],"nticks":null,"ticks":"","tickcolor":null,"ticklen":3.65296803652968,"tickwidth":0,"showticklabels":true,"tickfont":{"color":"rgba(77,77,77,1)","family":"","size":11.689497716895},"tickangle":-0,"showline":false,"linecolor":null,"linewidth":0,"showgrid":true,"gridcolor":"rgba(235,235,235,1)","gridwidth":0.66417600664176,"zeroline":false,"anchor":"x","title":{"text":"Number of posts","font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187}},"hoverformat":".2f"},"shapes":[{"type":"rect","fillcolor":null,"line":{"color":null,"width":0,"linetype":[]},"yref":"paper","xref":"paper","x0":0,"x1":1,"y0":0,"y1":1}],"showlegend":true,"legend":{"bgcolor":null,"bordercolor":null,"borderwidth":0,"font":{"color":"rgba(0,0,0,1)","family":"","size":11.689497716895},"y":0.96751968503937},"annotations":[{"text":"Company","x":1.02,"y":1,"showarrow":false,"ax":0,"ay":0,"font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187},"xref":"paper","yref":"paper","textangle":-0,"xanchor":"left","yanchor":"bottom","legendTitle":true}],"hovermode":"closest","barmode":"relative"},"config":{"doubleClick":"reset","showSendToCloud":false},"source":"A","attrs":{"662f4d2d7f85":{"x":{},"y":{},"fill":{},"type":"bar"}},"cur_data":"662f4d2d7f85","visdat":{"662f4d2d7f85":["function (y) ","x"]},"highlight":{"on":"plotly_click","persistent":false,"dynamic":false,"selectize":false,"opacityDim":0.2,"selected":{"opacity":1},"debounce":0},"shinyEvents":["plotly_hover","plotly_click","plotly_selected","plotly_relayout","plotly_brushed","plotly_brushing","plotly_clickannotation","plotly_doubleclick","plotly_deselect","plotly_afterplot","plotly_sunburstclick"],"base_url":"https://plot.ly"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>#api_create(g, filename = &quot;r-eclipse_mls_companies&quot;)</code></pre>
</div>
</div>
